<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:woocommerce/page-content-wrapper {"page":"checkout"} -->
<!-- wp:group {"tagName":"main","className":"site-main-page woocommerce-checkout-page","layout":{"type":"constrained","contentSize":"1280px","wideSize":"1280px"}} -->
<main class="wp-block-group site-main-page woocommerce-checkout-page">
	<!-- wp:woocommerce/store-notices /-->
	<!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
