<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main-page woocommerce-account-page","layout":{"type":"constrained","contentSize":"1280px","wideSize":"1280px"}} -->
<main class="wp-block-group site-main-page woocommerce-account-page">
	<!-- wp:group {"className":"page-header-container","layout":{"type":"constrained"},"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} -->
	<div class="wp-block-group page-header-container" style="margin-bottom:var(--wp--preset--spacing--40)">
		<!-- wp:post-title {"level":1,"className":"entry-title"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"align":"wide","layout":{"type":"default"},"className":"entry-content"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
